# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv/
venv/
ENV/
env/





# --------------------
# Generated outputs
# --------------------
visualizations/
outputs/
logs/


# --------------------
# OS / Editor
# --------------------
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# --------------------
# SQLite / local DB
# --------------------
*.db
*.sqlite
*.sqlite3

# --------------------
# Temporary files
# --------------------
*.tmp
*.swp
